.form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.labeltext {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.input-number {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}

.fieldsetcheck {
    display: flex;
    align-items: center;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 340px;
    height: 40px;
}

.fieldsetcheck legend {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.fieldsetcheck label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    margin-left: 48px;
}

.btncreate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    cursor: pointer;
}